@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPasswordFail</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
</head>

<body style="background-color:#182350;">
    <div style="padding:20px; text-align:center;">
        <span><i class="fa fa-exclamation-circle" aria-hidden="true" style="color:orange; font-size:100px;"></i></span>
        <h1 style="color:white;">Reset Password Failed...</h1>
        <p style="color:white;">@Model.Message</p>
    </div>
</body>

</html>