@using Server.Application.Models.Identity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPasswordForm</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body style="background-color:#182350;">
    @*<p>@Model.ViewMOdel.</p>*@
    <div class="card" style="margin: 20px auto; max-width:400px;">
        @*<h1>Reset Password</h1>*@
        <div class="card-header">
            Reset Password
        </div>
        <div class="card-body">
            @*@using (Html.BeginForm("resetpassword", "api/useraccount",Model))
                {
                <div asp-validation-summary="All" class="tex-danger"></div>
                <input asp-for="Token" type="hidden"/>
                <input asp-for="Email" type="hidden" />
                <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" id="Password" type="password" class="form-control" placeholder="Enter password" />
                <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="ConfirmPassword">ConfirmPassword</label>
                <input asp-for="ConfirmPassword" id="ConfirmPassword" type="password" class="form-control"
                placeholder="Enter confirm password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
                }*@
            <form method="post" asp-controller="api/useraccount" asp-action="resetpassword">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Token" type="hidden" />
                <input asp-for="Email" type="hidden" />
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" id="Password" type="password" class="form-control"
                        placeholder="Enter password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">ConfirmPassword</label>
                    <input asp-for="ConfirmPassword" id="ConfirmPassword" type="password" class="form-control"
                        placeholder="Enter confirm password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>
</body>

</html>